# test

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

#-------------------- 주피터 , 출력결과 넓이 늘리기 ---------------
# from IPython.core.display import display, HTML
from IPython.display import display, HTML

display(HTML("<style>.container{width:100% !important;}</style>"))
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('max_colwidth', None)

import warnings
warnings.filterwarnings(action='ignore')

## Data load

In [2]:
train=pd.read_csv('./X_train.csv',encoding='cp949')

In [3]:
train.head(1)

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB

In [5]:
mt=pd.read_csv('./mtcars.csv')

In [6]:
mt.head(1)

  Unnamed: 0   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [7]:
mt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         32 non-null     int64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

## 1. qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환

In [8]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
mm.fit(mt['qsec'].values.reshape(-1,1))
res=mm.transform(mt['qsec'].values.reshape(-1,1))
mt['qsec_mm']=res
mt.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,qsec_mm
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0.233333
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,0.300000
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.489286
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.588095
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.300000

## 2. qsec 피쳐값이 0.5보다 큰 값을 갖는 레코드 수

In [9]:
mt[mt['qsec']>0.5].shape[0]

32

In [10]:
len(mt[mt['qsec']>0.5])

32

In [8]:
len( mdf[   mdf['qsec']>0.5  ].index.values )

32

## 3.carb 피쳐값에 대해서 25%, 50%, 75% 값 출력

In [10]:
df = mdf[['carb']].describe()
df.loc[['25%','50%','75%']]

     carb
25%   2.0
50%   2.0
75%   4.0

In [11]:
mt['carb'].describe().iloc[4:7,]

25%    2.0
50%    2.0
75%    4.0
Name: carb, dtype: float64

In [11]:
df = mdf[['carb']].describe()
print( df.loc['25%'].values[0] ) 
print( df.loc['50%'].values[0] )
print( df.loc['75%'].values[0] )

2.0
2.0
4.0

In [12]:
#---------정석--------------
mt['carb'].quantile(q=0.25)
mt['carb'].quantile(q=0.5)
mt['carb'].quantile(q=0.75)

4.0

- disp로 그룹핑한 그룹별 mpg 평균값의 90%값 출력

In [13]:
mt.groupby('disp')['mpg'].mean().quantile(q=0.9)

30.4

## 4. disp 피쳐값에 대해서 오름차순 정렬 시 10번째 값으로 1~10위의 disp 값 변경

In [15]:
val10 = mdf['disp'].sort_values()[9:10].values[0]
idx19 = mdf['disp'].sort_values()[:9].index
print(idx19, val10)

mt.loc[idx19, 'disp'] = val10

Int64Index([19, 18, 17, 25, 27, 2, 20, 26, 31], dtype='int64') 140.8

In [16]:
mt.loc[idx19, 'disp']

19    140.8
18    140.8
17    140.8
25    140.8
27    140.8
2     140.8
20    140.8
26    140.8
31    140.8
Name: disp, dtype: float64

In [14]:
top_10=mt['disp'].nsmallest(10).tail(1).values[0]
top_10

140.8

In [15]:
idx=mt['disp'].nsmallest(10).index.values
idx

array([19, 18, 17, 25, 27,  2, 20, 26, 31,  8], dtype=int64)

In [16]:
mt['disp'].loc[idx]=top_10

In [17]:
mt['disp'].values

array([160. , 160. , 140.8, 258. , 360. , 225. , 360. , 146.7, 140.8,
       167.6, 167.6, 275.8, 275.8, 275.8, 472. , 460. , 440. , 140.8,
       140.8, 140.8, 140.8, 318. , 304. , 350. , 400. , 140.8, 140.8,
       140.8, 351. , 145. , 301. , 140.8])

In [18]:
mt['disp'].loc[idx]

19    140.8
18    140.8
17    140.8
25    140.8
27    140.8
2     140.8
20    140.8
26    140.8
31    140.8
8     140.8
Name: disp, dtype: float64

## 5. disp 피쳐값에 대해서 80이상의 값에 대한 평균 산출

In [19]:
mt['disp'][mt['disp']>=80].mean()

243.16562499999998

- disp 피쳐값에 대해서 80%범위 값에 대한 평균 산출

In [ ]:
rows = int(len(mt['disp'])*0.8

In [43]:
mt['disp'][int(mt['disp'].quantile(q=0.8))>=mt['disp']].mean() # 소수점 번째는 없기 때문에 반드시 int처리 헤주기

197.532

In [54]:
idx=len(mt['disp'][mt['disp'].quantile(q=0.8)>=mt['disp']])
mt['disp'].loc[:idx].mean()

252.3807692307692

## 6. mpg 피쳐값에 대해서 80% 량의 데이터를 추출 후 'mpg'가 20 이상인 값을 중앙값(median)으로 바꾸고 변경전, 변경 후 'mpg'의 표준편차 출력

In [20]:
rows = int(len(mt['disp']) * 0.8)
df80 = mt.iloc[:25]

mpg20_idx = df80[df80['mpg']>=20].index
median_val = df80['mpg'].median()
# print( mpg20_idx, median_val)
# Int64Index([0, 1, 2, 3, 7, 8, 17, 18, 19, 20], dtype='int64') 18.7

변경전 = df80['mpg'].std()
df80.loc[mpg20_idx, 'mpg'] = median_val
변경후 = df80['mpg'].std()

print(변경전, 변경후)

6.0474457417987635 2.6274068331087714

In [20]:
# 변경전 표준편차
np.std(mt['mpg'])

5.932029552301218

In [21]:
mt['mpg'][np.percentile(mt['mpg'],q=80)>=mt['mpg']]

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [22]:
idx=mt['mpg'][(np.percentile(mt['mpg'],q=80)>=mt['mpg'])& (mt['mpg']>=20)].index.values
idx

array([ 0,  1,  2,  3,  8, 20, 31], dtype=int64)

In [23]:
mt['mpg'].loc[idx,]

0     21.0
1     21.0
2     22.8
3     21.4
8     22.8
20    21.5
31    21.4
Name: mpg, dtype: float64

In [24]:
mt['mpg'].loc[idx]=np.median(mt['mpg'])

In [25]:
#변경 후 표준편차
np.std(mt['mpg'])

5.8637625239687186